* {
  background-color: var(--second-bg-color);
  background-image: url(/img/24254381_342715559472928_4746893749274017792_n.jpg);
}
:root {
  --bg-color: #ec7d7d;
  --second-bg-color: #323946;
  --text-color: red;
  --main-color: #98b291;
}
.container-footer {
  display: flex;
  justify-content: center;
  padding-top: 100%;
}
.container-titulo {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--bg-color);
}
.container-nav {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
}
